
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^adrenterprises\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.adrenterprises\.in$
RewriteRule ^/?$ "https\:\/\/adrenterprises\.in\/" [R=301,L]

